<html>
  <head>
    <base href="../.."/>
    <title>doctus - Panel.js</title>

    <link rel="stylesheet" href="public/github-markdown.min-05fea8df8ec68cb6c27337f6db65733e.css">
    <link rel="stylesheet" href="public/highlight-c281e701b2830b095c67417cd9a7b210.css">
    <link rel="stylesheet" href="public/style-aea3468ccb7ee0c3c4c2b5d339fc989e.css">

    <script src="~/plugins/core/example/ExampleViewer.js"></script>
  </head>
  <body class="markdown-body flex-column">
    <div class="header flex">
      <a class="header-brand" href="./index.html">doctus</a>
      
<ul class="menu flex align-center justify-center">
  
    
    <li class="menu-item">
      <a 
        class="menu-link active"
        
          href="examples/index.html"
        
        
          role="button"
          
          aria-expanded="false"
        
      >
        Examples
      </a>
      
    </li>
    
  
</ul>
    </div>
      
      

<main class="flex-grow flex h-100">
  <div class="sidebar border-right mr-2 flex-noshrink">
  
<ul class="menu">
  
    
    <li class="menu-item">
      <a 
        class="menu-link active"
        
          href="examples/index.html"
        
        
          role="button"
          
          aria-expanded="false"
        
      >
        Examples
      </a>
      
        
<ul class="menu">
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/code-preview.html"
        
        
      >
        Code Preview
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link active"
        
          href="examples/components/index.html"
        
        
          role="button"
          
          aria-expanded="false"
        
      >
        Components
      </a>
      
        
<ul class="menu">
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/components/test.html"
        
        
      >
        Test
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/components/Panel.html"
        
        
      >
        Panel
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/components/Button.html"
        
        
      >
        Button
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/components/OutlineButton.html"
        
        
      >
        OutlineButton
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/components/Base.html"
        
        
      >
        Base
      </a>
      
    </li>
    
  
</ul>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/forms/index.html"
        
        
          role="button"
          
          aria-expanded="false"
        
      >
        Forms
      </a>
      
        
<ul class="menu">
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/forms/TextField.html"
        
        
      >
        TextField
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/forms/FormControl.html"
        
        
      >
        FormControl
      </a>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/forms/CheckboxControl.html"
        
        
      >
        CheckboxControl
      </a>
      
    </li>
    
  
</ul>
      
    </li>
    
  
    
    <li class="menu-item">
      <a 
        class="menu-link"
        
          href="examples/utils/index.html"
        
        
      >
        Utils
      </a>
      
    </li>
    
  
</ul>
      
    </li>
    
  
</ul>
</div>
  <div class="flex-grow">
    <div class="container py-4">
      <h1>Source: Panel.js</h1>
      <p>
        examples/components/Panel.js
      </p>
      
      <pre><code class="hljs"><span class="hljs-comment">/**
 * Represents a panel component.
 * <span class="hljs-doctag">@memberof</span> examples.components
 * <span class="hljs-doctag">@extends</span> examples.components.Base
 */</span>

<span class="hljs-keyword">class</span> <span class="hljs-title class_">Panel</span> <span class="hljs-variable">extends</span> <span class="hljs-title class_">Base</span> {
  <span class="hljs-title function_">constructor</span>() {
    <span class="hljs-variable language_">super</span>();
  }

  <span class="hljs-comment">/**
   * Renders the panel component.
   */</span>
  <span class="hljs-title function_">render</span>() {
    <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Implement rendering logic</span>
  }

  <span class="hljs-comment">/**
   * Adds a child component to the panel.
   * <span class="hljs-doctag">@param</span> {Component} child - The child component to add.
   */</span>
  <span class="hljs-title function_">addChild</span>(<span class="hljs-params">child</span>) {
    <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Implement adding child logic</span>
  }

  <span class="hljs-comment">/**
   * Removes a child component from the panel.
   * <span class="hljs-doctag">@param</span> {Component} child - The child component to remove.
   */</span>
  <span class="hljs-title function_">removeChild</span>(<span class="hljs-params">child</span>) {
    <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Implement removing child logic</span>
  }

  <span class="hljs-comment">/**
   * Sets the panel&#x27;s title.
   * <span class="hljs-doctag">@param</span> {string} title - The title to set.
   */</span>
  <span class="hljs-title function_">setTitle</span>(<span class="hljs-params">title</span>) {
    <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Implement setting title logic</span>
  }

  <span class="hljs-comment">/**
   * Gets the panel&#x27;s title.
   * <span class="hljs-doctag">@returns</span> {string} The panel&#x27;s title.
   */</span>
  <span class="hljs-title function_">getTitle</span>() {
    <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Implement getting title logic</span>
  }

  <span class="hljs-comment">// ... add more methods as needed</span>
}</code></pre>
    </div>
  </div>
</main>

    <div class="footer">
      <div class="center">
        &copy; 2018 <a href="https//benignware.com">Benignware</a>
      </div>
    </div>
  </body>
</html>